* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}
.intro {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
.top__box {
  display: flex;
  flex-direction: column;
  min-height: 768px;
}
.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}
.intro__content {
  padding-top: 115px;
  background-image: url(../img/top_bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 45%;
  flex-grow: 1;
}
.intro__title {
  width: 510px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 32px;
}
.top__text {
  width: 425px;
}
.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}
/* ________ */

.what-we-do {
  padding-top: 64px;
}
.what-we-do__title {
  color: black;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
}
.offer {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.offer__item {
  width: 32%;
  text-align: left;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 44px 32px;
}
.item__img {
  text-align: center;
}
.item__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-top: 52px;
  margin-bottom: 14px;
}
.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  padding-top: 30px;
  text-decoration: none;
  display: inline-block;
}
.link__arrow {
  margin-left: 24px;
  vertical-align: middle;
}

/* _____________ */
.our-project {
  padding-bottom: 112px;
}

.our-project__title {
  color: black;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 64px auto 32px auto;
}
.our-project__text {
  width: 75%;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  margin: 0 auto 64px auto;
}
.project__parent {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.project__item {
  position: relative;
}
.project__item__margin {
  margin-right: 32px;
}
.project__img {
  width: 100%;
}
.project__text {
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.project__text-2 {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* ___________________ */

.footer {
  background: #316099;
}
.lets-talk {
  display: flex;
  justify-content: space-between;
}
.lets-talk__content {
  width: 495px;
}
.lets-talk__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-top: 91px;
}
.lets-talk__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 32px;
  margin-bottom: 96px;
}
.footer__link {
  align-items: center;
  display: flex;
}
.footer__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  padding: 15px 80px;
  text-decoration: none;
}
hr {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.info {
  padding-top: 64px;
  padding-bottom: 64px;
}
.info__list {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
  list-style-position: inside;
}
.info__list__item,
.info__list__item_no-margin {
  list-style-type: none;
}
.info__list__item:first-child::before {
  content: "A.";
  margin-right: 20px;
}
.info__list__item:nth-child(2)::before {
  content: "T.";
  margin-right: 20px;
}
.info__list__item_no-margin::before {
  content: "E.";
  margin-right: 20px;
}
.info__list a {
  color: #ffffff;
  text-decoration: none;
}
.copyright {
  margin-top: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

/* MEDIA */

@media (max-width: 1280px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .intro {
    min-height: 768px;
  }
}
@media (max-width: 1024px) {
  .offer {
    flex-direction: column;
    align-items: center;
  }
  .offer__item {
    width: 334px;
    margin-bottom: 32px;
  }
  .project__text-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
  }
  .footer__button {
    padding: 12px 60px;
  }
}
@media (max-width: 768px) {
  .intro__content {
    background-position: right 280px;
  }
  .project__parent {
    flex-direction: column;
  }
  .project__item__margin {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .lets-talk {
    padding: 0 124px;
  }
  .lets-talk__content {
    width: 336px;
  }
  .lets-talk__title {
    width: 336px;
    padding-top: 47px;
  }
  .lets-talk__text {
    width: 336px;
    margin-bottom: 64px;
  }
  .footer__button {
    padding: 3px 31px;
  }
  .info {
    padding: 64px 124px;
  }
  .info__list {
    display: block;
  }
  .info__list__item {
    margin-bottom: 25px;
  }
  .info__list__item__no-margin {
    margin-bottom: 0;
  }
}
@media (max-width: 735px) {
  .lets-talk {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 41px;
  }
  .lets-talk__title {
    padding-top: 18px;
  }
  .lets-talk__text {
    margin-bottom: 32px;
  }
  .footer__button {
    padding: 3px 19px;
  }
  .info {
    padding: 64px 32px;
  }
}
@media (max-width: 667px) {
  .intro {
    min-height: 376px;
    padding-bottom: 41px;
  }
  .top__box {
    display: flex;
    flex-direction: column;
    min-height: 376px;
  }
  .intro__content {
    padding-top: 36px;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__text {
    width: 100%;
    text-align: center;
  }
  .offer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .offer__item {
    margin-bottom: 32px;
  }
  .project__text {
    top: 16px;
    right: 8px;
    font-size: 32px;
    line-height: 46px;
  }
}
@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .what-we-do__title {
    font-size: 24px;
    line-height: 28px;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 1px 15px;
    margin-top: 32px;
  }
  .offer {
    padding-left: 0;
    padding-right: 0;
  }
  .offer__item {
    width: 100%;
    max-width: 334px;
    margin-bottom: 32px;
  }
  .project__text {
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .project__text-2 {
    position: absolute;
    top: 26px;
    left: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .lets-talk__content {
    width: 100%;
  }
  .lets-talk__title {
    width: 100%;
    font-size: 24px;
    line-height: 28px;
  }
  .lets-talk__text {
    width: 100%;
  }
  .info {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .copyright {
    margin-top: 37px;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .span {
    display: block;
    margin-left: 37px;
  }
}
